<div class="modal-header">
    <h4 class="modal-title pull-left">{{isUpdate?'Update Card Info':'Add New Card Info'}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
          <div *ngIf="myForm.get('title')?.invalid && (myForm.get('title')?.dirty || myForm.get('title')?.touched)" class="text-danger">
            Title is required.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description" placeholder="Enter description">
          <div *ngIf="myForm.get('description')?.invalid && (myForm.get('description')?.dirty || myForm.get('description')?.touched)" class="text-danger">
            Description is required.
          </div>
        </div>
      </form>      
  </div>
  <div class="modal-footer">
    
    <button type="button" class="btn btn-primary" (click)="onSubmit()">{{isUpdate?'Update':'Add New Card'}}</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
  </div>
  